html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background {
  background-image: url('../assets/background_content.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.body-box{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.body-text {
  background-color: #995355;
  color: white;
  padding: 10px 200px;
  border: none;
  border-radius: 30px;
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.bmi-box{
  display: flex;
  width: 100%;
  height: 100%;
}

.bmi-informetion{
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;      
  padding: 1rem;
  box-sizing: border-box;
}

.informetion-box{
  display: flex;
  flex-direction: column;
  background-color: #995355;
  padding: 50px;
  border: none;
  border-radius: 30px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: 300ms;
  font-size: 1.2vw;
}

.informetion-text {
  color: white;
  font-size: 18px;
}

.bmi-result{
  flex: 1;      
  padding: 1rem;
  box-sizing: border-box;
}

.section-box {
  background-color: #995355;
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
}

.section-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}

.input-group, .result-group {
  background: #f9f9f9;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}
