html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background {
  background-image: url('../assets/background_content.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.body-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}

.body-text {
  background-color: #995355;
  color: white;
  padding: 10px 200px;
  border: none;
  border-radius: 30px;
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.bmi-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 850px;
  width: 100%;
  gap: 2rem;
  padding: 2rem 1rem;
  box-sizing: border-box;
}
.gg {
  background-color: #995355;
  border-radius: 12px;
  padding: 1.5rem;
  flex-direction: column;
  gap: 6px;
}

.bmi-informetion {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
}

.informetion-box {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
}

.informetion-text {
  color: #ffffff;
  font-size: 18px;
  min-width: 120px;
  margin: 0;
}

.bmi-result {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
}

.section-box {
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
}

.section-title {
  background-color: #995355;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
}

.input-group, .result-group {
  background: #fdfdfd;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

input[type="number"],
select {
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fdfdfd;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  max-width: 140px;
  box-sizing: border-box;
}

input[type="number"]:focus,
select:focus {
  outline: none;
  border: 1px solid #995355;
  box-shadow: 0 0 6px rgba(153, 83, 85, 0.4);
}

button[type="submit"],
button.next-button {
  margin-top: 1rem;
  padding: 12px 24px;
  background-color: #995355;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
button.next-button:hover {
  background-color: #a86666;
}

