.BMR-main-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.BMR-second-box {
  position: relative;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  max-width: 850px;
  width: 90%;
  height: 86%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease;
}

.BMR-exit-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #ff5c5c;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.BMR-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BMR-title-text {
  background-color: #ebf051;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.BMR-bubble {
  position: relative;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 16px;
  width: 30%;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.BMR-bubble::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.BMR-third-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-top: 1rem;
}


.BMR-third-box-1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  align-self: stretch;
}

.BMR-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.BMR-info-box {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  background-color: #995355;
  padding: 1rem;
  max-height: 100%;
  overflow-y: auto;
}


.BMR-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.BMR-box-details {
  background-color: #41e26c;
  color: white;
  padding: 1rem;
  border-radius: 30px;
  font-size: 24px;
  text-align: center;
}

.BMR-end-text {
  background-color: #89f3e1;
  padding: 1rem;
  border-radius: 16px;
  margin-top: 1rem;
  font-size: 16px;
  color: #333;
  text-align: left;
}

.BMR-more-button {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: -25%; 
}

.BMR-more-button h {
  background-color: #ebf051;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
}
