html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background-home {
  background-image: url("../assets/cover_background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.main-box {
  margin: 0 auto;
}

.logo {
  background-image: url("../assets/cover_logo.png");
  width: 250pt;
  height: 250pt;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.secon-box1 {
  background-color: #d2eaf6;
  border-radius: 50px;
  width: 600pt;
  height: 267pt;
  margin: 0 auto;
}

.title-box {
  width: 200pt;
  margin: 0 auto;
}

.title-text {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 700;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.welcome-box {
  margin: 0 auto;
}

.welcome-text {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 100;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.button-box-home {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button-text-home {
  background-color: #b6e3e9;
  border: none;
  padding: 20px 250px;
  border-radius: 30px;
  font-size: 38px;
  cursor: pointer;
  transition: 0.3s ease;
  color: rgb(255, 255, 255);
}

.button-text-home:hover {
  background-color: #81bdc5;
}

.account-box {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.account-text {
  background: none;
  border: none;
  color: #ffffff;
  text-decoration: underline;
  font-size: 22px;
  cursor: pointer;
  padding: 0;
}

.button-box-orter {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.button-a {
  background-color: #1f21a6;
  color: white;
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

button.button-a:hover {
  background-color: #777a2f;
}

.button-b {
  background-color: #41e26c;
  color: white;
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

button.button-b:hover {
  background-color: #298b43;
}
