.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-window {
  background: #fff;
  border-radius: 16px;
  padding: 20px 30px; 
  width: 80%;
  max-width: 700px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.popup-content-1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.popup-box {
  flex: 1;
  text-align: center;
}

.popup-box img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.popup-arrows {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.popup-arrows button {
  padding: 6px 12px;
  font-size: 16px;
  background-color: #ccc;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.popup-close {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #995355;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}
