.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-window {
  background: #fff;
  border-radius: 16px;
  padding: 20px 30px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.popup-close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #995355;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.popup-close-btn:hover {
  background-color: #a86666;
}

.popup-tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.popup-tab {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #eee;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease;
}

.popup-tab.active.protein {
  background-color: #a48eeb;
  color: white;
}
.popup-tab.active.carb {
  background-color: #e2b05e;
  color: white;
}
.popup-tab.active.fat {
  background-color: #f27d72;
  color: white;
}

.popup-tab:hover {
  background-color: #ddd;
}

.popup-content-compare {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  width: 100%;
}

.popup-box {
  flex: 1;
  text-align: center;
  background: #fafafa;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.popup-box img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}


.popup-right-big img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}


.popup-arrows-side {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 12px;
}

.popup-arrows-side button {
  padding: 8px 14px;
  font-size: 18px;
  background-color: #ccc;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-arrows-side button:hover {
  background-color: #bbb;
}

.fat-title-box{
  background-color: #c0c4c1;
  border: none;
  padding: 3px 50px;
  border-radius: 30px;
}

.fat-title {
  text-align: center;
  font-size: 14px;
  color: #000000;
}

.fat-two-column {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-top: 12px;
}

.fat-side {
  flex: 1;
  background: #d7e8ef;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.05);
}


.fat-side-title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 6px;
  color: #333;
  font-weight: bold;
}

.fat-side-title-1 {
  text-align: center;
  font-size: 15px;
  margin-bottom: 6px;
  color: #333;
  font-weight: bold;
}


.fat-side-desc {
  text-align: center;
  font-size: 13px;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.4;
}

.fat-category {
  margin-bottom: 15px;
}

.fat-category h4 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
  font-weight: 600;
}

.fat-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.fat-item {
  background: #fff;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.fat-item img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  margin-bottom: 4px;
}

.fat-item p {
  font-size: 13px;
  margin: 2px 0;
}

.fat-item small {
  font-size: 12px;
  color: #777;
}
