html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background {
  background-image: url('../assets/background_content.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}